p {
    border:2px solid powderblue;
    padding-left: 30px;
    padding-top:50px;
    margin-top: 200px;
    text-align: center;
}


body{
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

